<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= provider.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= provider.address %>
  </p>

</div>
